body {
    font-family: 'Josefin Sans', sans-serif;
    cursor: default;
}

button {
    display: inline-block;
    padding: .5em 2em;
    font-family: 'Poiret One', cursive;
    border: 1px solid white;
    background: transparent;
    border-radius: .1em;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
}
button:hover {
    background: white;
    color: #0a0d18;
}
button:active {
    border-color: #0a0d18;
    outline: none;
}

input {
    font-family: 'Poiret One', cursive;
    font-size: 1em;
    padding: .4em .6em;
    border-radius: .3em;
}
input:focus {
    outline: none;
}

select {
    font-family: 'Poiret One', cursive;
    font-size: 1em;
    padding: .4em .6em;
    border-radius: .3em;
}
select:focus {
    outline: none;
}
select:active {
    outline: none;
}

a {
    color: white;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #00005c;
}