.game-page-container .top-half {
    height: 20em;
    width: 100%;
    background-color: #444444;
}
.game-page-container .top-half .game-board-container{
    text-align: left;
    display: inline-block;
    width: 68%;
    height: 100%;
}
.game-page-container .top-half .player-list-container{
    display: inline-block;
    width: 30%;
    height: 100%;
}

.game-page-container .bottom-half {

}