.game-page-container {
    height: 80vh;
    width: 100%;
}

.left-container {
    float: left;
    height: inherit;
    width:77%;
    margin-top: 20px;
    margin-right: 3%;
}

.game-board-container {
    height: 70vh;
    background-color: rgb(85, 85, 85);
}

.player-actions-container {
    height: 8vh;
    margin-top: 2vh;
}

.right-container {
    float: left;
    height: inherit;
    width:20%;
    margin-top: 20px;
}

.player-list-container {
    height: 40vh;
}

.game-chat {
    height: 40vh;
}