.game-page-container {
    height: 80vh;
    width: 100%;
}

.left-container {
    float: left;
    height: inherit;
    width:70%;
    margin-top: 20px;
}

.game-board {
    height: 60vh;
    background-color: rgb(85, 85, 85);
}

.game-actions {
    height: 20vh;
}

.right-container {
    float: left;
    height: inherit;
    width:30%;
    margin-top: 20px;
}

.player-list-container {
    height: 40vh;
}

.game-chat {
    height: 40vh;
}