.menu-button {
    display: block;
    width: 40%;
    margin: 1em 30%;
    height: 4em;
    font-family: 'Poiret One', cursive;
    border-radius: 2px;
    font-size: 1.1em;
}
.menu-button:hover {
    border: 1px solid gray;
}