.popup-container {
    background-color: darkgray;
    color: black;
    display: block;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 10em;
    font-family: 'Poiret One', cursive;
}

.popup-container .popup-title {
    margin-top: 1em;
}