.player-setter-container button {
    margin-top: 1em;
}

.player-setter-container a {
    cursor: pointer;
    color: blue;
}
.player-setter-container a:hover {
    cursor: pointer;
    text-decoration: underline;
}