.data-widget-container {
    display:inline-block;
    margin-right: 25px;
    font-family: 'Indie Flower', cursive;
    color: #484848;
    background: #dfff8f;
    padding: .6em;
}
.data-widget-container span {
    display: block;
}
.data-widget-label {
    padding-bottom: .2em;
    margin-bottom: .2em;
    border-bottom: 1px dashed #484848;
}