.game-selector-item span{
    width: 50%;
    display: inline-block;
}

.game-selector-container > table {
    width: 100%;
    border-collapse: collapse;
}

.game-selector-container > table > thead > tr > th {
    width: 33%;
}

.game-selector-item {
    width: 33%;
}

.game-selector-item:focus, .game-selector-item:hover {
    background-color: #4d4b4b;
    color: white;
    outline: none;
    padding: 15px;
}

td:focus {
    padding: 0;
    border: none;
}
