
/* 1 column: 320px */
.player-list-container {
    margin: 0 auto;
    width: 98%;
}

.player-list-container .player-list-headers { 
    margin-bottom: 1rem;
    text-decoration: underline;
}

/* 2 columns: 600px */
@media only screen and (min-width: 600px) {
.autowide .player-list-headers, .player-list-items {
        float: left;
        margin-right: 2.564102564102564%;
        width: 48.717948717948715%;
    }
    .autowide .player-list-headers:nth-child(2n+0), .player-list-items:nth-child(2n+0) {
        margin-right: 0;
    }
}

/* 3 columns: 768px */
@media only screen and (min-width: 768px) {
.autowide .player-list-headers, .player-list-items {
        width: 31.623931623931625%;
    }
    .autowide .player-list-headers:nth-child(2n+0), .player-list-items:nth-child(2n+0) {
        margin-right: 2.564102564102564%;
    }
    .autowide .player-list-headers:nth-child(3n+0), .player-list-items:nth-child(3n+0) {
        margin-right: 0;
    }
}

/* 4 columns: 992px and up */
@media only screen and (min-width: 992px) {
.autowide .player-list-headers, .player-list-items {
        width: 23.076923076923077%;
    }
    .autowide .player-list-headers:nth-child(3n+0), .player-list-items:nth-child(3n+0){
        margin-right: 2.564102564102564%;
    }
    .autowide .player-list-headers:nth-child(4n+0), .player-list-items:nth-child(4n+0) {
        margin-right: 0;
    }
}
