body {
  margin: 0;
  padding: 0 2em 0 2em;
  font-family: sans-serif;
  color: white;
}

html {
  height: 100vh;
  background: #0f0f0f;
  background: linear-gradient(#121f43 6%, #121f36 9%, #0a0d18);
}
